.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: yellow;
}

.nav-links button {
    height: 20px;
}

.nav-links {
    width: 100px;
    display: flex;
    justify-content: space-between;
    background-color: blue;
}

.Links2 {
    width: 400px;
    display: flex;
    justify-content: space-between;
    background-color: purple;
}