.incident-container {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-around;
    text-align: center;
}

.direction {
    display: flex;
    flex-direction: row;
}

.latitude {
    margin-left: 20px;
}

.longitude {
    margin-left: 20px;
}

.cat-time {
    display: flex;
    flex-direction: row;
}

.category {
    margin-left: 20px;
}

.time {
    margin-left: 20px;
}

.description {
    margin-left: 20px;
    width: 400px;
}

.incident-outer-div > h1 {
    display: flex;
    justify-content: center;
}
